* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;

}

.titulo-principal {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #084220;
    font-size: 20px;

}

header {
    width: 100%;
    overflow: hidden;
    background: #74CEB7;
    margin-bottom: 20px;

}

.wrapper {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

header .logo {
    margin: auto;
    line-height: 10px;
    float: left;
}

header nav {
    float: right;
    line-height: 100px;
}

header nav a {
    display: inline-block;
    text-decoration: none;
    color: #084220;
    padding: 10px 20px;
    line-height: normal;
    font-size: 20px;
    font-weight: bold;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
    -webkit-transition: all 300ms ease;
}

header nav a:hover {
    background: #FCFFFE;
    border-radius: 30px;

}

/* header nav li:hover{
    background: #74CEB7;
    border-radius: 20px;
   

} */
.header2 {

    height: 100px;

}

.header2 .logo {
    line-height: 100px;
    font-size: 0px;

}

.header2 nav {
    line-height: 10px;
}

.contenido {
    padding-top: 20px;
}

.contenido p {
    margin-bottom: 3em;
}

ol,
li {
    list-style: none;

}

.nav>li {
    float: left;
}

.nav li ul {
    display: none;
    position: absolute;
    min-width: 140px;

}

.nav li:hover>ul {
    display: block;

}


form {
    /* width: 300px; */
    padding: 16px;
    border-radius: 10px;
    margin: auto;
    border-radius: 5px;

}

form label {
    width: 120px;
    font-weight: bold;
    display: inline-block;

}

form input[type="text"],
form input[type="number"],
form input[type="email"] {
    width: 150px;
    padding: 5px 40px;
    border: 2px solid #084220;
    margin: 8px 0;
    border-radius: 3px;

}

.botonEnvio {

    width: 100px;
    padding: 10px 22px;
    border: 0;
    border-radius: 10px;
    color: #084220;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 30px;
}

.botonVolver {

    width: 100px;
    padding: 10px 22px;
    border: 0;
    border-radius: 10px;
    color: #084220;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin: 30px;
}

p {
    color: #0a0a0a;
    font-weight: bold;
    font-size: 15px;
    text-align: justify;
}

/* Estilos para secciones */
section {
    background-color: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #74CEB7;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

footer h2 {
    font-size: 20px;
    margin-bottom: 10px;
}

footer ul {
    padding: 10px;
    list-style: none;
}

footer ul li {
    margin-bottom: 5px;
}

footer ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

footer p {
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

footer ul li a:hover {
    text-decoration: underline;
}